/* Style for most loved books  */

html{
    scroll-behavior: smooth;
}

.lovedBooks{
    margin: 0px 52px; /* top  bottom , left right*/
    background-color: transparent;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.books{
    height: 230px;
    width: 250px;
    border: 1px solid rgb(249, 245, 245);
    /* margin: 10px; */
    display: inline-block;
    overflow: hidden;
    transition: transform 1s ease; 
}
.books img {
    width: 100%;
    height: 100%;
    object-fit: scale-down; /* Make the image cover the entire container */
}
.description{
    padding: 15px;
    text-align: center;
}
.books:hover{
    transform: scale(1.1);
}
/*  FOR USER PROFILE INFORMATIONS & SETTING */
#profileModal{
    display: none;
    position: absolute;
    right: 0px;
    top: 45px;
    z-index: 5;
    height: 450px;
    width: 350px;
    background-color: whitesmoke;
    border: solid blanchedalmond 2px;
    border-radius: 8px;
}
#profileModal nav{
    display: flex;
    justify-content: space-between;
/*     border: solid rgba(0, 0, 0, 0.8) 1px; */
    background-color: rgb(240, 222, 209);
    height: 50px;
    border-radius: 8px;
}
#profileModal nav h5{
    margin: 10px 0 0 95px;
}
#profileModal nav i{
    margin: 8px 10px 0 0px;
    font-size: 30px;
    cursor: pointer;
}
#profilePicture{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
#profilePicture #profile-img{
    height: 100px;
    width: 100px;
    border: solid blanchedalmond 2px;
    border-radius: 50px;
    background-image: url('/eBookStore/img/ProfileIMG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#profile-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
#profile-info h5{
    text-align: center;
    font-size: 1em;
    color: black;
    font-family: sans-serif;
}
#profile-info p{
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    color: black;
}
#logout-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    background-color: darkcyan;
}
#logout-btn a{
    text-decoration: none;
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    transition: font-size 0.1s ease;
}
#logout-btn a:hover{
    font-size: 1.5em;
}

/* FOR ADD TO CART MODAL */
/* #addToCartModalContent{
    height: 100vh;
    width: 100vw;
    background-color: black;
} */
#addToCartModal{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 25rem;
    width: 25rem;
    border: solid blanchedalmond 1px;
    border-radius: 10px;
    background-color: white;
    z-index: 50;
}
#addToCartModal{
    margin-top: 10px;
}
#modalHeadingContent{
    display: flex;
    justify-content: space-between;
    height: 3.4rem;
    width: 100%;
}
#modalHeadingContent p{
    font-size: 1.2rem;
    margin: 10px 0 0 10px;
    color: black;
}
#modalHeadingContent i{
    cursor: pointer;
    font-size: 50px;
}
#modalBodyContent {
    display: flex;
    justify-content: space-between;
}
#modalBodyContent img{
    height: 10rem;
    width: 7rem;
    margin: 10px 0 0 25px;
    border: solid darkgoldenrod 1px;
    border-radius: 10px;
}
#modalBodyContent #bookInfo{
    margin: 40px 30px 0 0;
}
#modalFooterContent{
    margin-top: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#viewCartBtn {
    height: 3rem;
    width: 90%;
    border: solid black 1px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}
#viewCartBtn:hover,
#viewCartBtn:focus {
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
}
#checkOutBtn {
    margin-top: 10px;
    height: 3rem;
    width: 90%;
    border: solid black 1px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}
#checkOutBtn:hover,
#checkOutBtn:focus {
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
}
/*  FOR VIEW DETAILS MODAL */
#viewDetail{
    display: none;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 700px;
    border: blanchedalmond solid 1px;
    border-radius: 14px;
    background-color: whitesmoke;
}
#viewDetailHeading{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}
#viewDetailHeading h2{
    margin: 10px 0px 0 38%;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
}
#viewDetailHeading i{
    cursor: pointer;
    font-size: 55px;
}
#viewDetailContent{
    display: flex;
    margin-top: 2.2rem;
}
#viewDetailContent #book_image{
    height: 400px;
    width: 230px;
    margin: 10px 0 0 15px;
    border: solid blanchedalmond  1px;
    border-radius: 12px;
    background-color: skyblue;
}
#bookDetails{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
}
#searchOverlay {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
}
#searchTitle{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
}
#searchContent{
    overflow-y: auto;
    max-height: 350px;
}
